.btn-primary {
    background-color: var(--primary-color);
    color: var(--background-color);

    transition: all var(--transition-duration);
}

.btn-primary span {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
