#shopping-list {
    margin: 1rem 0;
    padding: 1rem;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    filter: saturate(2);
    color: var(--primary-color);
}

#default-msg {
    margin: auto;
}

table {
    border-collapse: collapse;
}

tr {
    text-align: left;
    border-bottom: 1px solid var(--primary-color) !important;

    transition: all var(--transition-duration);
}
@media (hover: hover) and (pointer: fine) {
    tr.item-row:hover {
        cursor: pointer;
        background-color: rgba(37, 89, 87, 0.15);
    }
}

th,
td {
    border-bottom: 1px solid rgba(37, 89, 87, 0.25);
    text-align: center;
}

td {
    font-size: 0.9rem;
    padding: 0.5rem 0rem;
}

#checkbox {
    padding: 0 0.25rem;
}
#checkbox svg {
    display: block;
    opacity: var(--default-icon-opacity);
    width: var(--icon-width-mobile);

    transition: all var(--transition-duration);
}
@media (hover: hover) and (pointer: fine) {
    #checkbox svg:hover {
        cursor: pointer;
        opacity: var(--hovered-icon-opacity);
        transform: translateY(-2px);
    }
}

.completed {
    position: relative;
}
.completed::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--primary-color);
    pointer-events: none;
}

#delete {
    text-align: center;
}
#delete:hover {
    cursor: pointer;
}
#delete svg {
    position: relative;
    opacity: var(--default-icon-opacity);
    border-radius: var(--border-radius);
    width: var(--icon-width-mobile);

    transition: all var(--transition-duration);
}
@media (hover: hover) and (pointer: fine) {
    #delete svg:hover {
        opacity: var(--hovered-icon-opacity);
        transform: translateY(-2px);
    }
}

#name-header {
    text-align: left;
}
.name {
    text-align: left;
}

#item-form {
    padding: 0;
    margin-bottom: 0;
}

#input-new-item {
    padding: 0.5rem;
    border-radius: var(--border-radius);
}

#input-error {
    text-align: center;
    color: var(--error-color);
    margin-top: 1rem;
}

#button-row {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    margin-top: 1rem;
}

@media (min-width: 768px) {
    th {
        font-size: 1.3rem;
        text-align: left;
    }

    td {
        text-align: left;
        font-size: 1.15rem;
    }

    #delete svg {
        width: var(--icon-width-tablet);
    }

    #checkbox svg {
        width: var(--icon-width-tablet);
    }

    #item-form > input {
        font-size: 1.15rem;
    }

    #input-error {
        font-size: 1.3rem;
    }

    #default-msg {
        font-size: 1.35rem;
    }
}

@media (min-width: 1200px) {
    #shopping-list {
        margin: 1rem 0;
    }
}
