#greeting {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;
}

#list-loading {
    text-align: center;
}

#page-loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
