.shopping-list {
    padding: 1rem;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(20px);
    filter: saturate(2);
    color: white;
}

.default-msg {
    color: var(--primary-color);
    margin: auto;
}

#item-form {
    padding: 0;
    margin: 0;
}

.input-new-item {
    padding: 0.5rem;
    border-radius: var(--border-radius);
}

#item-creation-loading {
    margin: 1rem auto 0 auto;
    color: var(--primary-color);
}

#input-error {
    text-align: center;
    color: var(--error-color);
    margin-top: 1rem;
}

.button-row {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    margin-top: 1rem;
}
