#demo-container {
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius);
    padding: 1rem;

    transition: all var(--transition-duration);
}
#demo-title {
    font-family: var(--accent-font);
    font-size: 2rem;
    position: relative;
    top: 0.75rem;
    color: var(--primary-color);
    /* border: var(--border-dark); */
    filter: saturate(2.5);
    width: fit-content;
    border-radius: var(--border-radius);
    padding: 0 0.5rem;

    transition: all var(--transition-duration);
}

.blob {
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    /* filter: saturate(5) blur(5rem); */
    background-color: var(--primary-color);
    width: 20rem;
    height: 20rem;
    border-radius: 10rem;
    box-shadow: 0 0 5rem var(--primary-color);
}
@media (hover: hover) and (pointer: fine) {
    #demo-container:hover {
        transform: translateY(-1px);
        box-shadow: 0 0 20px rgba(37, 89, 87, 0.5);

        #demo-title {
            background-color: var(--primary-color);
            color: var(--background-color);
        }
    }
}
@media (min-width: 1200px) {
    #landing-page-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        margin: 5rem auto;
    }

    #demo-container {
        padding: 0 1rem;
        width: 50%;
    }
}
