#loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--background-color);
    color: var(--primary-color);
    padding: 1rem;
    border-radius: var(--border-radius);
    border: var(--border-color-dark);
    box-shadow: var(--shadow-color-dark);
    z-index: 50;
    filter: saturate(2);
}
