footer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    border-top: 1px solid var(--primary-color);
    padding: 1rem var(--x-padding-mobile);
}

footer > h2 {
    font-family: var(--accent-font);
    font-size: 2.5rem;
    color: var(--primary-color);
}
