.btn-secondary {
    background-color: var(--background-color);
    color: var(--primary-color);

    transition: all var(--transition-duration);
}

.btn-secondary > span {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
